.ticker-wrap {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.ticker {
  display: flex;
  white-space: nowrap;

  animation: ticker 35s linear infinite;
}

.ticker:hover {
  animation-play-state: paused;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ITEM */
.ticker-item {
  color: white;
  text-decoration: none;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;

  padding-right: 20px;
}